In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# ___Unit Tests___
--------------

In [2]:
nhanes = pd.read_csv(r"../week3/nhanes_2015_2016.csv")

In [4]:
nhanes.head()

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,...,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
0,83732,1.0,NaN,1.0,1,1,62,3,1.0,5.0,...,124.0,64.0,94.8,184.5,27.8,43.3,43.6,35.9,101.1,2.0
1,83733,1.0,NaN,6.0,1,1,53,3,2.0,3.0,...,140.0,88.0,90.4,171.4,30.8,38.0,40.0,33.2,107.9,NaN
2,83734,1.0,NaN,NaN,1,1,78,3,1.0,3.0,...,132.0,44.0,83.4,170.1,28.8,35.6,37.0,31.0,116.5,2.0
3,83735,2.0,1.0,1.0,2,2,56,3,1.0,5.0,...,134.0,68.0,109.8,160.9,42.4,38.5,37.7,38.3,110.1,2.0
4,83736,2.0,1.0,1.0,2,2,42,4,1.0,4.0,...,114.0,54.0,55.2,164.9,20.3,37.4,36.0,27.2,80.4,2.0

In [7]:
# mean blood pressure of people above 60 years old.

nhanes.BPXSY1.loc[nhanes.RIDAGEYR > 60].mean()

135.93726474278546

In [8]:
nhanes.BPXSY1.loc[nhanes.RIDAGEYR > 60].min()

84.0

In [9]:
nhanes.BPXSY1.loc[nhanes.RIDAGEYR > 60].max()

230.0